{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}


        <!--<div class="row" style="margin-top: 30px;">-->
            <!--<div class="col-xs-12">-->
                <!--<div id="disqus_thread"></div>-->
                <!--<script type="text/javascript">-->
                    <!--/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */-->
                    <!--var disqus_shortname = 'salesforcedeveloperworkshop'; // required: replace example with your forum shortname-->

                    <!--/* * * DON'T EDIT BELOW THIS LINE * * */-->
                    <!--(function() {-->
                        <!--var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
                        <!--dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';-->
                        <!--(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
                    <!--})();-->
                <!--</script>-->
                <!--<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
                <!--<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->
            <!--</div>-->
        <!--</div>-->


    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">modules</div>
            <ol class="list-group">
                <li><a href="1-ways-to-interact-with-build.html">Ways to Interact with Build</a></li>
                <li><a href="2-setting-up-your-ios-developer-key.html">Setting Up iOS Development Keys</a></li>
                <li><a href="3-make-your-app-do-stuff.html">Plugins</a></li>
                <li><a href="4-the-pgb-development-cycle.html">Edit, Deploy, Debug</a></li>
                <li><a href="5-generating-keys-and-publishing-your-app.html">Signing Keys and Publishing</a></li>
                <li><a href="6-editing-manifests-with-config-file.html">Editing Manifests with config-file</a></li>
                <li><a href="7-creating-client-applications-with-oauth.html">Creating Oauth Client Applications</a></li>
            </ol>
            <p></p>
        </div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
           data-url="http://wildabeast.github.io/phonegap-day-workshop"
           data-text="Attending the @PhoneGapBuild Workshop at #pgday EU 2016 #Cordova #PhoneGap">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/PhoneGapBuild" class="twitter-follow-button" data-show-count="true"
   data-size="large" data-lang="en">Follow
    @PhoneGapBuild</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

</div>

</div>

{% include bootstrap-footer.html %}